#div1 img{
 padding: 10px;
 width: 25%;
}

/* Container holding the image and the text */
.container {
    flex-wrap: wrap;
    display: flex;
    position: relative;
    text-align: center;
    color: white;
  }
  